<style>
.message-content {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 800px;
	font-size: 16px;
	line-height: 20px;
}
</style>

<div class="message-content">
	<p>Olá, {{name}}</p>
	<p>Para recuperar sua senha, clique no link abaixo:</p>
	<p><a href="{{link}}">Resetar senha</a></p>
</div>
